@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.auth-card {
  width: 340px;
  padding: 50px 30px 30px;
  border-radius: $border-radius-md;
  box-shadow: $shadow-card;

  &__title {
    font-size: $font-size-2xl;
    font-weight: $font-weight-medium;
    text-align: center;
    line-height: 1;
  }

  &__content {
    @include flex-column($gap: $space-4);
    
    margin-top: $space-10;
  }

  &__link {
    display: block;
    margin-top: $space-3;
    text-align: center;
  }
}
