@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.chat-header {
  @include flex-between;

  padding: $space-2 $space-5;
  border-bottom: 1px solid $color-border;
  background-color: $color-white;

  &__user {
    @include flex($align: center, $gap: $space-3);
  }

  &__name {
    font-size: $font-size-base;
    font-weight: $font-weight-semibold;
    color: $color-text-primary;
  }

  &__options {
    @include flex-center;
    
    width: 24px;
    height: 24px;
  }
}
