$color-white: #fff;

$color-text-primary: #1e1e1e;
$color-text-secondary: #999;

$color-border: #eaeaea;
$color-bg-secondary: #efefef;

$color-primary: #3369f3;
$color-danger: #ff2f2f;
$color-danger-strong: #f00;

$color-overlay: rgb(0 0 0 / 40%);
$color-shadow: rgb(0 0 0 / 14%);

$border-radius-sm: 5px;
$border-radius-md: 12px;
$border-radius-lg: 30px;
$border-radius-circle: 50%;

$font-weight-medium: 500;
$font-weight-semibold: 600;

$font-family-base: "Inter", system-ui, sans-serif;

$font-size-2xs: 8px;
$font-size-xs: 9px;
$font-size-sm: 11px;
$font-size-md: 12px;
$font-size-base: 13px;
$font-size-lg: 15px;
$font-size-xl: 16px;
$font-size-2xl: 20px;
$font-size-3xl: 40px;

$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-8: 32px;
$space-10: 40px;

$shadow-card: 0 0 6px 0 $color-shadow;
