@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.chats-layout {
  @include flex;

  height: 100vh;
  width: 100vw;

  &__sidebar {
    @include flex-column;
    
    width: 310px;
    border-right: 1px solid $color-border;
    background-color: $color-white;
  }

  &__content {
    @include flex-column;

    flex: 1;
    background-color: #fbfbfb;
  }
}

.chat-area {
  @include flex-column;

  height: 100%;

  &__placeholder {
    font-size: $font-size-md;
    color: $color-text-secondary;
  }

  &__messages {
    @include flex-column($gap: $space-3);

    flex: 1;
    overflow-y: auto;
  }
}
